<script type="text/javascript">
//CABEÇALHOS DAS FUNCOES




MAXNUMPONTOS=500000;
DesenhoActual = new Array(MAXNUMPONTOS); //estrutura para guardar o desenho atual recoorre-se ao constutor coordenada

var str="";
 //numero de cliques no canvas que é igual ao num de pts do desenho
NumClick=0;
var LastX; //para guardar o ultimo ponto
var LastY;

document.addEventListener("DOMContentLoaded", init, false); //o orelhas dos eventos
var ctx; //contexto do canvas


// DEFINIÇÃO DE FUNÇÕES

function init() //está sempre À espera do clique no canvas com o listener
      {
        var canvas = document.getElementById("myCanvas");
        canvas.addEventListener("mousedown", getPosition, false);
        ctx=canvas.getContext("2d");
      }


// Construtor
function coordenada( pini, pfim ) {
   this.pini = pini;
   this.pfim = pfim;
}

function getPosition(event) //DISPARA COM UM CLIQUE NO CANVAS
{
   
    var totalOffsetX = 0;
    var totalOffsetY = 0;
    var canvasX = 0;
    var canvasY = 0;
    var currentElement = this;
    //detetar a coordenada no canvas
    do{
        totalOffsetX += currentElement.offsetLeft;
        totalOffsetY += currentElement.offsetTop;
      }
    while(currentElement = currentElement.offsetParent)

    canvasX = event.pageX - totalOffsetX;
    canvasY = event.pageY - totalOffsetY;
    //alert(canvasX +" isto é XX e isto é YY " + canvasY);
  
    if (NumClick>0)
    { 
    //alert("ESTOU A ESCREVER no canvas");
      ctx.beginPath(); 
      ctx.lineWidth="3";
      ctx.strokeStyle="blue"; 
      ctx.moveTo(LastX,LastY);
      ctx.lineTo(canvasX,canvasY);
      ctx.stroke(); // Draw it

    }
    else
    {
  
    }
  
  //Actualiza 
    LastX=canvasX;
    LastY=canvasY;
    
    DesenhoActual[NumClick] = new coordenada(canvasX,canvasY);
    
    NumClick=NumClick+1;
   

}


function SaveAndClear() 
{
  var strHTML;
if (NumClick<2)
  {
    alert("O seu desenho actual não pode ser guardado pois não tem um segmento de recta criado");
    return false
  }
else
  {
      //se for o primeiro desenho mete o nd a 0 caso contrario vai buscar o ultimo à BD   
      strHTML="";
      strHTML= strHTML+"        <% nd=0 %>";
      strHTML= strHTML+ " <% if (Pontinho.count==nil) then %>"; 
      strHTML= strHTML+"        <% nd=0 %>";
      strHTML= strHTML+"     <% else %>";
      strHTML= strHTML+"        <% nd = Pontinho.maximum('NumDesenho') %>";
      strHTML= strHTML+"<%end%>"; 
      document.getElementById("InsereBD").innerHTML=strHTML;

      for (i=0; i<=NumClick ; i++)
        {     
          strHTML="";
          strHTML="<% @pontinho = Pontinho.create(:NumDesenho => nd , :NumPonto => " + i ;
          strHTML+= ",:CX => " + DesenhoActual[i].pini + ", :CY => " + DesenhoActual[i].pfim + ")%>";         
          document.getElementById("InsereBD").innerHTML=strHTML;    
        }       
               
      NumClick=0;

      //LIMPA DESENHO
      ctx.fillStyle="white";
      ctx.fillRect(0,0,400,200);
      
      //Actualiza lista de desenhos
      strHTML="";
      strHTML+= "<% Pontinho.order.all(:group => 'NumDesenho', :order => 'NumDesenho').each do |pontinho| %>";
      strHTML+=   "  desenho <%= pontinho.NumDesenho %> <p> ";
      strHTML+=   "<% end %>";
      document.getElementById("ListaDesenhos").innerHTML=strHTML;
     
      /*
      strHTML="";
      strHTML+= "Desenho <%if (Pontinho.count==nil) then %>";             
      strHTML+= "      0";
      strHTML+= "    <%else%>";          
      strHTML+= "      <%= Pontinho.maximum('NumDesenho') %>";
      strHTML+= "<%end%>";
      document.getElementById("desNum").innerHTML=strHTML;
 
      document.getElementById("RowCount").innerHTML="<%= Pontinho.count %>";
      */ 
      
      return true
  }
}

function DeleteAll() //leva ou não args?
{
  strHTML="";

  var r=confirm("Atenção deseja mesmo apagar todos os desenhos da Base de Dados?")

  if (r==true)
      {
      
      strHTML="";
      strHTML+= " <% @pontinhos.each do |pontinho| %>";
      strHTML+= "     <% pontinho.destroy %> ;
      strHTML+= " <% end %>";
      document.getElementById("destruidor").innerHTML=strHTML;

      alert("TODOS OS SEUS REGISTOS FORAM APAGADOS");

        //Actualiza lista de desenhos
      strHTML="";
      strHTML+= "<% Pontinho.order.all(:group => 'NumDesenho', :order => 'NumDesenho').each do |pontinho| %>";
      strHTML+=   "  desenho <%= pontinho.NumDesenho %> <p> ";
      strHTML+=   "<% end %>";
      document.getElementById("ListaDesenhos").innerHTML=strHTML;
     
  else
     {

        
     }
       
}
  
//FIM DAS FUNCS

</script>



<h1>Problema 1 - Rails e HTML5 Canvas</h1>
<% Pontinho.find(:all) do |pontinho| %>  
  <% @pontinho=pontinho.destroy %>
<% end %>
<table border="0">
  <tr>
    <th color="blue"> Lista de desenhos</th>
   
    <th id="desNum">  Desenho 
     
      <%if (Pontinho.last==nil) then %>            
            0
          <%else%>
            <%= Pontinho.maximum("NumDesenho") %>
      <%end%>
       
    </th> 
  </tr>
  <tr>
  
       <td id="ListaDesenhos">
            <% Pontinho.order.all(:group => "NumDesenho", :order => "NumDesenho").each do |pontinho| %>
                      desenho <%= pontinho.NumDesenho %> <p> 
            <% end %>
        </td>

</td>
    <td>
        <canvas id="myCanvas" width="400" height="200"  style="border:1px solid #000000;">      </canvas>
    </td>
  </tr>
  <tr> 
    <td id="destruidor">  </td>
    <td>
      <button type="button" onclick="SaveAndClear()">Save and clear</button>
      <button type="button" onclick="DeleteAll()">Delete All!</button> </td>

  </tr>

</table>

<p id="InsereBD"> vou executar insercoes na bd</p>

 

</table>
<p>
  <tr>   Contagem de pontos -> <td id="RowCount"> <%= @pontinho = Pontinho.count(:all) %>    </tr> </td> 


 