<script type="text/javascript" id="JSID" data-message>
//CABEÇALHOS DAS FUNCOES

//Vars Globais de JS
DesenhoActual = new Array(); //estrutura para guardar o desenho atual recoorre-se ao constutor coordenada

var strHTML="";

 //numero de cliques no canvas que é igual ao num de pts do desenho
NumClick=0;
var LastX; //para guardar o ultimo ponto de modo a fazer o desenho
var LastY;

document.addEventListener("DOMContentLoaded", init, false); //o orelhas dos eventos
var ctx; //contexto do canvas
var BLA;
// DEFINIÇÃO DE FUNÇÕES

function init() //está sempre À espera do clique no canvas com o listener
      {
        var canvas = document.getElementById("myCanvas");
        canvas.addEventListener("mousedown", getPosition, false);
        ctx=canvas.getContext("2d");
      }
// Constroi a coordenada 
function coordenada( pini, pfim ) {
   this.pini = pini;
   this.pfim = pfim;
}

function getPosition(event) //DISPARA COM UM CLIQUE NO CANVAS
{
   
    var totalOffsetX = 0;
    var totalOffsetY = 0;
    var canvasX = 0;
    var canvasY = 0;
    var currentElement = this;
    //detetar a coordenada no canvas
    do{
        totalOffsetX += currentElement.offsetLeft;
        totalOffsetY += currentElement.offsetTop;
      }
    while(currentElement = currentElement.offsetParent)

    canvasX = event.pageX - totalOffsetX;
    canvasY = event.pageY - totalOffsetY;
  
    if (NumClick>0)
    { 
      //A ESCREVER no canvas");
      ctx.beginPath(); 
      ctx.lineWidth="3";
      ctx.strokeStyle="blue"; 
      ctx.moveTo(LastX,LastY);
      ctx.lineTo(canvasX,canvasY);
      ctx.stroke(); // Draw it
      
    }
    else
    {
   
    }
  
   
    canvasX
    //Actualiza 
    LastX=canvasX;
    LastY=canvasY;
    
    DesenhoActual[NumClick] = new coordenada(canvasX,canvasY);
    
    
   
   
    
    NumClick=NumClick+1;

    return true

}

$(function () 
{ 
  $('#GuardaLimpaID').click(function ()
  {
  var CodigoContrutor;  
  if (NumClick<2)
    {
      alert("O seu desenho actual não pode ser guardado pois não tem um segmento de recta criado")
      return false
    }
  else
    {
      strHTML="";
      for (i=0; i<NumClick-1 ; i++)
          {     
          //numpontonodpesenho,x,y  
          strHTML+= "[" + i + ","+DesenhoActual[i].pini+","+DesenhoActual[i].pfim+"],"; 

          // DesenhoActual[i].pini.string + "," + DesenhoActual[i].pfim.string);    
          }  
         
      strHTML+= "[" + (NumClick-1) + ","+ DesenhoActual[NumClick-1].pini+","+DesenhoActual[NumClick-1].pfim+"]]";

     
      //LIMPA DESENHO
      
      this.value=strHTML;
      document.getElementById("ArrayId").innerHTML=strHTML;
      document.getElementById("ArrayId").value=strHTML;
      ctx.fillStyle="white";  
      ctx.fillRect(0,0,400,200);
      NumClick=0;
      alert(this.value);
      return true
    }
  })
});


$(function () 
{
  $('#ApagaTudoID').click(function () 
  {
  var codigo_destruidor="";
  var r=confirm("Atenção deseja mesmo apagar todos os desenhos da Base de Dados?");
  if (r==true)
      {   
      NumClick=0;

      //LIMPA DESENHO
      ctx.fillStyle="white";
      ctx.fillRect(0,0,400,200);
      this.value="APAGOU OS DESENHOS TODOS DA BD!!!!"
      alert(this.value);  
     }

  else
     {  

     }
       
  return r    
 })

});
</script>


<h1>Problema 1 - Rails e HTML5 Canvas</h1>

  
<%anump=0%>
<%anumd=0%>


<table border="0" >
  <tr>
    <div type="hidden" id="ArrayId" value="bu" <%$da=%>></div>
    <th> Lista de desenhos</th>
    
    <td id="desNum"> Desenho->
        <%if Pontinho.count==0%>
            <%= anumd=1%>
          <%else%>
            <%= anumd=Pontinho.maximum("NumDesenho") %>
        <%end%>
    </td> 
  </tr>
  <tr>  
       <td id="ListaDesenhos">
            <% Pontinho.order.all(:group => "NumDesenho", :order => "NumDesenho").each do |pontinho| %>
                      desenho <%= link_to "Desenho "+pontinho.NumDesenho, :NumDesenho=>pontinho.NumDesenho %><p> 
            <% end %>
      </td>

</td>

    <td>
        <canvas id="myCanvas" data-msgNP=0 data-msgYY=0 data-msgXX=0 width="400" height="200"  style="border:1px solid #000000;"> 

        </canvas>
    </td>
  </tr>
  <tr>
    <td> </td>
    
    <td>
      <button href=# id="GuardaLimpaID" type="button" onclick="SaveAndClear(); " value> 
         <%= button_to 'SaveAndClear',  :class=>"guardalimpa" %>
      </button>

      <button href=# id="ApagaTudoID" type="button" value="" onclick="DeleteAll()" >

            <%= button_to 'Delete All', :method => :destroy %>
           
   </td>   
      </button> </td>
      
             
      <tr>
        <td id="RowCount"> Num de regs <%= Pontinho.count %> </td>
      </tr>

  <td>
    <%@pontinhos.each do |p|%>

      <tr>
        <td><%= p.NumDesenho %>NumDesenho </td>
        <td><%= p.NumPonto %>NumPonto</td>
        <td><%= p.CX %>CX</td>
        <td><%= p.CY %>CY</td>
      </tr>
    <% end %>
  </td>  
</table>



 
<tr>
Tamanho do ARRAY <%unless $da==nil%>
                      <%=$da.length%>
                  <% end %><p> 
          
CONTEUDO <%=$da%>

</tr>

