<p id="notice"><%= notice %></p>

<p>
  <b>Numdesenho:</b>
  <%= @pontinho.NumDesenho %>
</p>

<p>
  <b>Numponto:</b>
  <%= @pontinho.NumPonto %>
</p>

<p>
  <b>Cx:</b>
  <%= @pontinho.CX %>
</p>

<p>
  <b>Cy:</b>
  <%= @pontinho.CY %>
</p>


<%= link_to 'Edit', edit_pontinho_path(@pontinho) %> |
<%= link_to 'Back', pontinhos_path %>
